#resume-name{
	border-right:2px solid #999;
	width:73.9%;
	margin-bottom:0;
}

#contact-info{
	position: absolute;
	top:11px;
	right: 2em;
	width:20%;
	text-align:right;
	line-height:0.8em;
	
	p{
		padding-top:0.5em;
	}
}

header{
	margin-bottom:-0.5em;
}

body{
	font-size: 10pt;
}

#col-right{
	width:25%;
}

#education, #interests, #mun{
	margin-bottom:0;
	padding-bottom:0;
}

#employment h2, #employment	h3, #education h3, #education h4{
	display: inline;
}

#languages, #tools, #interests{
	h2{
		margin-top:0.3em;
	}
}

.screen-only, .mobile-only{
	display: none;
}

#print-button{
	display:none;
}

.print-only{
	display: block;
}
